html, body {
  height: 100%;
  overflow-y: scroll;
}

@font-face {
  font-family:'Milkshake';
  src: url('Milkshake.otf') format('opentype');
  src: url('Milkshake.ttf') format('truetype');
}

body{
  margin: 0;
  background-image: linear-gradient(
    to bottom left, #ff99ff, #cccccc
 );
}

.nav ul{
  list-style-type: none;
  display: block;
}

.nav li{
  float: right;
  margin: 10px;
  font-family: 'avenir', sans-serif;
  font-size: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.nav a:hover {
   background: #dfdfdf;
}

.button ul{
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  color: white;
  line-height: 600%;
  padding-top: 10%;
}

.button li{
  margin: 10px;
  font-family: 'Milkshake' sans-serif;
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 40%;
  max-width: 480px;
  width: 100%;
  overflow: auto;
}

/*margin was 200px*/

.container h1 {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 40%;
  margin: 40%;
  max-width: 480px;
  width: 100%;

  /*margin was 0 auto*/

}

.container p {
  color: white;
  font-family: 'avenir' sans-serif;
  font-size: 30px;
  height: 10px;
  width: 90%;
  align-content: space-between;
  margin-top: 5%;
}

/*margin top was 50px*/

.container box{
  margin: 5%;
  padding: 2%;
}

/*margin was 30px and padding was 20px*/

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 2%;
  max-width: 480px;
  width: 100%;
}

/*margin was 200px*/

.container2 a {
  color: white;
  text-decoration: none;
  font-family: 'avenir', sans-serif;
  font-size: 60px;
  font-weight: normal;
  margin: 0 auto;
}

.container2 p {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 30px;
  height: 10px;
  width: 100%;
  max-width: 480px;
  align-content: space-between;
  margin-top: 5%;
}

/*margin-top was 50px*/

.container3{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  max-width: 480px;
}

@media (min-width: 480px) {

  .button ul{
    width: 100%;
    max-width: 480px;
  }

  .button li{
    font-size: 75px;
  }

  .nav ul{
    list-style-type: none;
    display: block;
    margin-top: 5%;
    margin-right: 5%;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 45%;
  width: 100%;
  overflow: auto;
}

/*margin was 200px*/

.container h1 {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 45%;

  /*margin was 0 auto*/

}

.container p {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 30px;
  height: 10px;
  width: 85%;
  align-content: space-between;
  margin-top: 7.5%;
}

/*margin top was 50px*/

.container box{
  margin: 7.5%;
  padding: 5%;
}
/*margin was 30px and padding was 20px*/

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 5%;
  width: 90%;
}

/*margin was 200px*/

.container2 a {
  color: white;
  text-decoration: none;
  font-family: 'avenir' sans-serif;
  font-size: 60px;
  font-weight: normal;
  margin: 0 auto;
}

.container2 p {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 30px;
  height: 10px;
  width: 90%;
  align-content: space-between;
  margin-top: 7.5%;
}

/*margin-top was 50px*/

.container3{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
  width: 90%;
}

}

@media (min-width: 720px) {

.button ul{
  max-width: 576px;
}

/*add the width 80%?*/

.button li{
  font-size: 90px;
}

.nav ul{
  list-style-type: none;
  display: block;
  margin-top: 7.5%;
  margin-right: 7.5%;
}

/*add in here for the other 2 pages (all the "containers")*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 40%;
  width: 100%;
  overflow: auto;
}

/*margin was 200px*/

.container h1 {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 40%;

  /*margin was 0 auto*/

}

.container p {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 30px;
  height: 10px;
  width: 80%;
  align-content: space-between;
  margin-top: 10%;
}

/*margin top was 50px*/

.container box{
  margin: 10%;
  padding: 7.5%;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 7.5%;
  width: 80%;
}

/*margin was 200px*/

.container2 a {
  color: white;
  text-decoration: none;
  font-family: 'avenir', sans-serif;
  font-size: 60px;
  font-weight: normal;
  margin: 0 auto;
}

.container2 p {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 30px;
  height: 10px;
  width: 80%;
  align-content: space-between;
  margin-top: 10%;
}

/*margin-top was 50px*/

.container3{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
  width: 80%;
}

}

@media (min-width: 1024px) {

  .button ul{
    max-width: 614px;
  }

  /*same re 60 width*/

  .button li{
    font-size: 100px;
  }

  .nav ul{
    list-style-type: none;
    display: block;
    margin-top: 10%;
    margin-right: 10%;
  }

  /*add in here for the other 2 pages (all the "containers")*/

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 35%;
    width: 100%;
    overflow: auto;
  }

  /*margin was 200px*/

  .container h1 {
    color: white;
    font-family: 'avenir', sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin: 35%;

    /*margin was 0 auto*/

  }

  .container p {
    color: white;
    font-family: 'avenir', sans-serif;
    font-size: 30px;
    height: 10px;
    width: 75%;
    align-content: space-between;
    margin-top: 12.5%;

  }

  /*margin top was 50px*/

  .container box{
    margin: 12.5%;
    padding: 10%;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 15%;
    width: 60%;
  }

  /*margin was 200px*/

  .container2 a {
    color: white;
    text-decoration: none;
    font-family: 'avenir', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin: 0 auto;
  }

  .container2 p {
    color: white;
    font-family: 'avenir', sans-serif;
    font-size: 30px;
    height: 10px;
    width: 60%;
    align-content: space-between;
    margin-top: 15%;
  }

  /*margin-top was 50px*/

  .container3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }

  .foamroller:hover{
    transform: scale(1.3);
  }

  .magnesium:hover{
    transform: scale(1.3);
  }

  .succulent:hover{
    transform: scale(1.3);
  }

  .egyptianbox:hover{
    transform: scale(1.3);
  }

  .sage:hover{
    transform: scale(1.3);
  }

  .buddha:hover{
    transform: scale(1.3);
  }

  .lavenderoil:hover{
    transform: scale(1.3);
  }

}
