html, body {
  height: 100%;
  overflow-y: scroll;
}

@font-face {
  font-family:'Milkshake';
  src: url('Milkshake.otf') format('opentype');
  src: url('Milkshake.ttf') format('truetype');
}

body{
  margin: 0;
  background-image: linear-gradient(
    to bottom left, #ff99ff, #cccccc
 );
}

.nav ul{
  list-style-type: none;
  display: block;
}

.nav li{
  float: right;
  margin: 10px;
  font-family: 'avenir', sans-serif;
  font-size: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.nav a:hover {
   background: #dfdfdf;
}

.button ul{
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  color: white;
  line-height: 600%;
  padding-top: 10%;
}

.button li{
  margin: 10px;
  font-family: 'Milkshake' sans-serif;
  font-size: 50px;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 20%;
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding-left: 10%;
  padding-right: 10%;
}

p {
  display: block;
  text-align: center;
  color: white;
  font-family: 'avenir' sans-serif;
  font-size: 15px;
  max-width: 70%;
  margin: auto;
  padding-bottom: 7%;
}

img.box {
  display: block;
  margin: auto;
  padding-top: 7%;
  padding-bottom: 7%;
  width: 70%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container a {
  color: white;
  text-decoration: none;
  font-family: 'avenir', sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 3%;
}

.container p {
  color: white;
  font-family: 'avenir', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  padding: 5%;
}

.container2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 480px) {

  .button ul{
    width: 100%;
    max-width: 480px;
  }

  .button li{
    font-size: 75px;
  }

  .nav ul{
    list-style-type: none;
    display: block;
    margin-top: 5%;
    margin-right: 5%;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  .container a {
    font-size: 35px;
  }

  .container p {
    font-size: 25px;
  }

}

@media (min-width: 720px) {

.button ul{
  max-width: 576px;
}

.button li{
  font-size: 90px;
}

.nav ul{
  list-style-type: none;
  display: block;
  margin-top: 7.5%;
  margin-right: 7.5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 35px;
}

.container a {
  font-size: 45px;
}

.container p {
  font-size: 35px;
}

.container2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
}

.foamroller:hover{
  transform: scale(1.15);
}

.magnesium:hover{
  transform: scale(1.15);
}

.succulent:hover{
  transform: scale(1.15);
}

.egyptianbox:hover{
  transform: scale(1.15);
}

.sage:hover{
  transform: scale(1.15);
}

.buddha:hover{
  transform: scale(1.15);
}

.lavenderoil:hover{
  transform: scale(1.15);
}

}

@media (min-width: 1024px) {

  .button ul{
    max-width: 614px;
  }

  .button li{
    font-size: 100px;
  }

  .nav ul{
    list-style-type: none;
    display: block;
    margin-top: 10%;
    margin-right: 10%;
  }

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 45px;
  }

  .container a {
    font-size: 55px;
  }

  .container p {
    font-size: 45px;
  }

  .container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  .foamroller:hover{
    transform: scale(1.3);
  }

  .magnesium:hover{
    transform: scale(1.3);
  }

  .succulent:hover{
    transform: scale(1.3);
  }

  .egyptianbox:hover{
    transform: scale(1.3);
  }

  .sage:hover{
    transform: scale(1.3);
  }

  .buddha:hover{
    transform: scale(1.3);
  }

  .lavenderoil:hover{
    transform: scale(1.3);
  }

}
